name: lint & build
on: push

jobs:
  lint-build:
    name: lint & build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Golang
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: run make lint
        run: make lint
      - name: run make build-linux
        run: make build-linux
